<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Nature-Squirrelorange.jpeg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{579,800}</string>
                <key>spriteSourceSize</key>
                <string>{579,800}</string>
                <key>textureRect</key>
                <string>{{1,1},{579,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Nature-WolfMidnight.jpeg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{579,800}</string>
                <key>spriteSourceSize</key>
                <string>{579,800}</string>
                <key>textureRect</key>
                <string>{{1,803},{579,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Night-Faerie.jpeg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{579,800}</string>
                <key>spriteSourceSize</key>
                <string>{579,800}</string>
                <key>textureRect</key>
                <string>{{582,1},{579,800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Night-Vampire.jpeg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{579,800}</string>
                <key>spriteSourceSize</key>
                <string>{579,800}</string>
                <key>textureRect</key>
                <string>{{1384,1},{579,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rich-Treasure.jpeg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{579,800}</string>
                <key>spriteSourceSize</key>
                <string>{579,800}</string>
                <key>textureRect</key>
                <string>{{582,582},{579,800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Water-Merfolk.jpeg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{579,800}</string>
                <key>spriteSourceSize</key>
                <string>{579,800}</string>
                <key>textureRect</key>
                <string>{{1384,803},{579,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Wild-Efe.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{579,800}</string>
                <key>spriteSourceSize</key>
                <string>{579,800}</string>
                <key>textureRect</key>
                <string>{{582,1163},{579,800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>card-2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21b5f4c62cdfd2e6ad69d3efe090888c:c3f4dbcd5c8062d23130b1d36352a465:0dc04cdcc3f3daffa714226d1de87e98$</string>
            <key>textureFileName</key>
            <string>card-2.png</string>
        </dict>
    </dict>
</plist>
